/* CSS Document */
body 
{ 
background-color:#FFB;
} 
#logo
{
	background-image:url(/pictures/picture9.jpg);
	background-size:100% 100%;
	width:100%;
	height:800px;
}

#account
{
	font-size:20px;
	color:#39F;
	font-family:Arial, Helvetica, sans-serif;
}
#putin
{
width:500px; 
height:40px;  
}
#button
{ 
width:190px; 
height:40px; 

}
#Catogery,#Location,#Date
{
	width:150px; 
height:30px; 
}
nav
{
	padding: 0;
}
nav ul
{
	padding: 0;
}
nav ul ul 
{
    display: none;
}
nav ul li:hover > ul 
{
	display: block;
}
nav ul 
{
    list-style: none;
    position: relative;
}
nav ul li
{
	font-size:20px;
	color:#39F;
	font-family:Arial, Helvetica, sans-serif;
}
 nav ul li a 
{
	display: block;
	color:#39F;
}
nav ul ul 
{
	background:#39F;
	border-radius: 0px; 
	padding: 0;
	position: absolute; 
	top: 100%;
}
nav ul ul li 
{
	 border-bottom: 1px solid #fff;
	float: none; 
	position: relative;
}
nav ul ul li a 
{
	padding: 5px 5px;
	color: #fff;
	font-size:16px;
	font-family:Georgia, "Times New Roman", Times, serif
}   