/* CSS Document */
body 
{ 
background-color:#FFB;
} 
#logo
{
	background-image:url(../pictures/picture6.jpg);
	background-size:100% 100%;
	width:100%;
	height:376px;
}

#account
{
	font-size:20px;
	color:#39F;
	font-family:Arial, Helvetica, sans-serif;
}

#options
{
	width:100%;
	background-color:#d9dee2;
	text-align:center;
	font-size:20px;
	color:#69F;	
	font-family:"MS Serif", "New York", serif;
	font-weight:600;
}
#content
{
	width:100%;
}
#tdcalendar
{
	width:70%;
}
#calendar
{
	width:100%;
	border-color:#C2C2C2;
	background-color:#E1E1E1;
}
.month
{
	text-align:center;
	font-size:29px;
	color:#FD7113;
	font-family:"Comic Sans MS", cursive;
}
.days
{
	text-align:center;
	
	font-size:25px;
	color:#FD7113;
	font-family:"Comic Sans MS", cursive;
}
#row11,#row12,#row13,#row14,#row15,#row16,#row17,#row21,#row22,#row23,#row24,#row25,#row26,#row27,#row31,#row32,#row33,#row34,#row35,#row36,#row37,#row41,#row42,#row43,#row44,#row45,#row46,#row47,#row51,#row52,#row53,#row54,#row55,#row56,#row57,#row61,#row62,#row63,#row64,#row65,#row66,#row67
{
	height:80px;
	vertical-align:text-top;
	text-align:left;
	font-family:"Comic Sans MS", cursive;
}
.smallevents
{
	font-size:10px;
	font-family:Verdana, Geneva, sans-serif;
}

#today
{
	vertical-align:text-top;
}
#todaysevent
{
	text-align:center;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:26px;
	color:#FD7113;
}
.eventsname
{
	text-align:center;
	font-size:18px;
	color:#69F;
	font-family:Tahoma, Geneva, sans-serif;
}

.eventsdetail
{
	color:#69F;
	font-family:Tahoma, Geneva, sans-serif;
}

#moreevents
{
	font-size:30px;
	color:#800040;
	text-align:center;
	font-family:Tahoma, Geneva, sans-serif;
}
nav
{
	padding: 0;
}
nav ul
{
	padding: 0;
}
nav ul ul 
{
    display: none;
}
nav ul li:hover > ul 
{
	display: block;
}
nav ul 
{
    list-style: none;
    position: relative;
}
nav ul li
{
	font-size:20px;
	color:#39F;
	font-family:Arial, Helvetica, sans-serif;
}
 nav ul li a 
{
	display: block;
	color:#39F;
}
nav ul ul 
{
	background:#39F;
	border-radius: 0px; 
	padding: 0;
	position: absolute; 
	top: 100%;
}
nav ul ul li 
{
	 border-bottom: 1px solid #fff;
	float: none; 
	position: relative;
}
nav ul ul li a 
{
	padding: 5px 5px;
	color: #fff;
	font-size:16px;
	font-family:Georgia, "Times New Roman", Times, serif
}   